body{
    margin: 0;
    background: url("../images/bg.jpg");
    background-repeat: repeat;
}
h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    font-size: 4rem;
    color: cornsilk;
    text-shadow: blue 5px 5px 10px;
}
main{
    max-width: 1400px;
    height: 100vh;
    margin: 0 auto;
    background-image: linear-gradient(rgb(23, 40, 87), rgb(120, 226, 250));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.character{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 45vh;
}
.char_img{
    height: 280px;
    display: block;
}
.character img:hover{
    cursor: pointer;
    height: 300px;
}
#lukan{
    height: 360px;
}
#trainingCenter{
    height: 37vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
        
}
#trainingCenter img{
    width: 1400px;
}
#trainingCenter img:hover{
    cursor: pointer;
    width: 1400px;
}
.active{
    height: 380px;
    display: block;
    margin: 0 100px;
}
.novisible{
    display: none;
}
.conclusion{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    width: 100%;
    height: 18vh;
}
.conclusion_char{
    width: 200px;
    height: 180px;
    background-color: cornsilk;
    border: blue 2px solid;
    border-radius: 10px;
    margin: 0 10px;
}
.conclusion_char h3{
    text-align: center;
    color: blue;
}
.conclusion_char p{
    padding-left: 10px;
    line-height: 0.5rem;
    font-size: 1rem;
}
.continue_game{
    position: absolute;
    width: 200px;
    height: 40px;
    font-size: 1.2rem;
    color: blue;
    top: 30%;
    left: 50%; 
    transform: translateX(-50%);   
}
.continue_game:hover{
    cursor: pointer;
}
#description{
    width: 800px;
    height: auto;
    background-color: cornsilk;
    color: darkblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    display: none;    
}
#description p{
    padding: 5px;
    text-align: justify;
}
#btn_description{
    top: 10%;
    left: 50%; 
    transform: translateX(-50%);
}